@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	background: #080808;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-size: 50px;
	color: #F4F3F1;
}

span h2 {
	max-width: 472px;
	margin-top: 150px;
}

#social p {
	color: #F4F3F1;
}